// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              $impara-primary !default; // $purple-500 !default;
$brand-info:                 $impara-secondary !default; //$cyan-500 !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $impara-tertiary !default; //$pink-500 !default;
$brand-inverse:              $black-color !default;

$brand-fondo:              #f0ecdd !default;



// $brand-primary:              $hdi-primary !default; // $purple-500 !default;
// $brand-info:                 $cyan-500 !default;
// $brand-success:              $green-500 !default;
// $brand-warning:              $hdi-azul !default; //$orange-500 !default;
// $brand-danger:               $red-500 !default;
// $brand-rose:                 $pink-500 !default;
// $brand-inverse:              $black-color !default;

// $brand-fondo:              #dce3d4 !default;